
.red {color:#900}
.back-red {color: white; background-color:#900}

.dkgreen {color:#1a2d17}
.back-dkgreen {color: white; background-color:#1a2d17}

.green {color:#4c8400}
.back-green {color: white; background-color:#4c8400}

.ltblue {color:#009ecb}
.back-ltblue {color: #fff; background-color:#009ecb}

.ltgray {color: #b7b6b6}
.back-ltgray{color: #900; background-color: #b7b6b6}

.orange {color: #fd7801}
.back-orange {color: white; background-color: #fd7801}


