/* CSS Document */

/* 	Resets  */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

body {line-height: 1}

/*ol, ul, nav ul {list-style: none}*/

blockquote, q {quotes: none;}

blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}

article, aside, details, figcaption, figure, figure img, hgroup, hr, menu, footer, header, nav, section, video, object,  {display: block;}

a { margin:0; padding:0; font-size:100%; vertical-align:baseline;}
a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}

input, select {vertical-align:middle;}

hr {height:1px; border:0; margin:1em 0; padding:0;}
ins {text-decoration:none;}
del {text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse:collapse; border-spacing: 0;}

/* float and clear */
.left{float:left;}
.right{float:right;}
.center{margin:0 auto; text-align:center;}
.clear{clear:both;}
.displace{text-indent:-3333px; display:block;}
.clearfix{width: 100%; height: 0px; clear: both;}

/* 	Typography  */
h1, h2, h3, h4, h5, a, a img {text-decoration:none;}
