@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic|Lobster);


/* Typography */

body {
	font-family:'Quicksand', Helvetica, sans-serif;
	line-height: 1.4em;
}


h2,h4 {
	font-family:'Lobster', Georgia, serif;
	letter-spacing: 0.07em;
}

h1	{font-family:'Quicksand', Helvetica, sans-serif;font-size:36px; line-height:41px;margin:0;padding:0;}
h2	{font-size:28px;font-weight:400;line-height:31px;margin:15px 0;padding:0; color: #009ecb;} /* light gray */
h3	{font-size:23px;font-weight:700;line-height:25px;margin:15px 0;padding:0; color: #440}
h4	{font-size:19px;font-weight:400;margin:13px 0;padding:0; color: #979696; border-bottom: 1px solid gray; }

.largefont {font-family:'Lobster', Georgia, serif;font-size:40px; line-height:41px;margin:0;padding:0;}
.smallfont{font-family:'Lobster', Georgia, serif;font-size:10px;line-height:10px;margin:0;padding:0;}

.caps {text-transform:uppercase}

p {font-size: 18px; line-height: 1.5em;
	padding: 10px 0;}

a{
    color:#44a;
    text-decoration:none;
    -webkit-transition: color .2s ease, background-color .2s ease;
    -moz-transition: color .2s ease, background-color .2s ease;
    -o-transition: color .2s ease, background-color .2s ease;
    transition: color .2s ease, background-color .2s ease;
}
a:hover, a:focus{color:#ab0;}
a:active{color:#44a;}

blockquote {
	padding: 3%;
	color: #906;
	font-family:'Quicksand', Helvetica, sans-serif;
	font-style:oblique;
}
blockquote p{
	font-size: 20px; line-height: 1.2em;
}

#content ul, #content ol {margin-left: 0; padding-left: 30px; }
